$yellow: #FBD800
$orange: #FFB158
$black: #252525
$white: #fff
$grey: #d9d9d9

body
  transition: 0.3s
  
.light
  background: $white
  color: $black

  #theme-toggle-btn
    background-image: url("./images/moon.png") !important

.dark
  background: $black
  color: $white

  #theme-toggle-btn
    background-image: url("./images/sun.png") !important

.App
  padding: 1rem
  box-sizing: border-box

  #theme-toggle-btn
    height: 35px
    width: 35px
    background: transparent
    border: none
    transition: 0.3s
  
  header
    display: flex
    align-items: center
    justify-content: space-between

  main

    h1
      font-size: 20px
      font-weight: 600
      margin-top: 3rem

    .todo-list
      list-style: none
      padding: 0
      display: flex
      flex-direction: column
      gap: 1rem

      .todo-item
        background: $grey
        padding: 1rem
        border-radius: 12px
        color: $black
        display: flex
        justify-content: space-between
        align-items: center
        height: 80px
        box-sizing: border-box
        line-height: 1.1
        gap: 4rem

        .todo-done-title
            text-decoration: line-through $yellow 2px

        .btn-container
          display: flex
          align-items: center
          gap: 1rem

          button
            background: none
            padding: 0
            border: none
            display: grid
            place-items: center

          .change-btn
            width: 24px
            height: 24px

          .delete-todo-btn
            border-radius: 50px
            width: 24px
            height: 24px
            border: 1px solid $black
            transition: 0.2s

          .todo-done-btn
            background: url("./images/checked.png"), $yellow
            background-position: center
            background-repeat: no-repeat

  .btn-form
    position: fixed
    bottom: 1rem
    display: flex
    justify-content: space-between
    align-items: center
    width: calc( 100% - 2rem )
    background: linear-gradient(115deg, $yellow 60%, $orange 100%)
    padding: 0.5rem
    border-radius: 12px
    box-sizing: border-box
    left: 1rem

    input
      background: $white
      border: none
      padding: 10px
      border-radius: 8px
      font-size: 1rem
      outline: none

    .add-todo-input-field::placeholder
      font-style: italic

    .save-btn
      color: $black

    button
      border: none
      background: $white
      padding: 10px
      border-radius: 8px
      font-size: 1rem

    .add-todo-btn
      height: 38px
      width: 38px
      background-image: url("./images/cross.png")
      background-position: center
      background-repeat: no-repeat